Django==4.2.30
PyMuPDF==1.26.5
asgiref==3.11.1
boto3==1.42.97
botocore==1.42.97
chromadb==1.5.9
click==8.1.8
django-ratelimit==4.1.0
fastembed==0.7.4
joblib==1.5.3
nltk==3.9.2
numpy==2.0.2
onnxruntime==1.19.2
psycopg2-binary==2.9.12
python-dotenv==1.2.1
regex==2026.1.15
scikit-learn==1.6.1
scipy==1.13.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tokenizers==0.22.2
tqdm==4.70.0
typing_extensions==4.16.0
